body
{
   
    background: url(../images/lift_dumbellopa1.jpg)no-repeat center center fixed;
    background-size: cover;
}
div{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color:white;
    background-color:#6e686b;
    text-align: center;
    width:40%;
    margin:200px auto;
       opacity:0.8;
    padding:20px;
    border-radius: 50px;
}
p{
    background-color: #e66113;
    font-family: 'Lora', serif;
    padding:10px;
    border-radius: 25px;
    
}
button
{
    text-align:center;
    font-size: 30px;
    border-radius:15px;
    width:60%;
    
}
i{
    color:white;
    font-size:20px;
}
